:root {
  --darkbody: #292c35;
  --putih: rgb(255,255,255);
  --dark: rgba(41,41,41,0.909);
  --abu: rgba(48,48,48,0.757);
  --abu2: rgba(0,0,0,0.533);
  --nav: rgba(237,237,237,0.8);
}


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  color: rgb(60,60,60);
  text-decoration: none;
}
.bx-size {
  font-size: 31px;
  color: var(--dark);
}
body {
  margin: 0;
  transition: background 0.4s linear;
  transition: all 0.2s linear;
}
body.dark {
  --dark: rgba(255,255,255,0.953);
  --putih: #292c35;
  --darkbody: rgb(255,255,255);
  --abu: rgba(221,221,221,0.702);
  --abu2: rgba(255,255,255,0.533);
  --nav: rgb(65,65,65);
  background-color: #292c35;
  color: #fff;
}
/* ======= Nav css ======== */
.my__nav {
  display: flex;
  gap: 0.1em;
  margin-right: -1em;
}
.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark);
  text-decoration: none;

}
.active {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
  text-decoration: none;
}
.bg-nav {
  background-color: var(--nav);
}
.navbar {
  margin-bottom: 3em;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 48px;
  height: 26px;
  background-color: transparent;
  border: 2px solid var(--dark);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
}

.ball {
  width: 19px;
  height: 19px;
  background-color: var(--dark);
  position: absolute;
  padding: 1px;
  left: 1px;
  border-radius: 50%;
}
/* ========= part Group  ==========*/
.card {
  padding-bottom: 0.5em;
}
.card>img {
  max-height: 270px;
}
.sm__town {
  margin: 0;
  padding: 0;
  color: var(--abu2);
}
.rv__grup {
  margin: 0;
  padding-bottom: 0.2em;
  font-size: 2rem;
  font-weight: 500;
}

.rv__info {
  color: var(--abu);
  font-size: 18px;
  line-height: 2;
}


.rv__sosial {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  gap: 0.6rem;
}
.rv__slist {
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: transparent;
  border: 2px solid var(--dark);
  border-radius: 50%;
}
a:hover {
  text-decoration: none;
}

/* ================ Part Member ============= */
/*profile*/

.cont_m.profile {
  padding: 40px 0 0 0;
}

.pf_member {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 35px;
}

.pf_member .pf_box_m {
  position: relative;
  width: 100%;
  top: -70px;
}

.pf_member .pf_box_m div {
  display: block;
}

.pf_member.center .pf_img Image {
  margin-left: 20%;
}

.pf_member.center .pf_txt {
  left: 0px;
}

.pf_member.center .pf_txt_cont {
  position: relative;
  margin-right: 29%;
  padding: 10px 15px 10px 25px;
}

.pf_member.center .pf_txt_cont p {
  text-align: left;
}

.pf_member.center .coend-marker {
  padding: 5px 15px 5px 25px;
}



.pf_img {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.pf_img .rv__member {
  width: 100%;
  vertical-align: bottom;
  height: 100%;
  object-fit: cover;
}


.pf_txt {
  position: absolute;
  width: auto;
  color: #000;
}


.pf_txt .pf_name {
  position: relative;
  width: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18pt;
}

.coend-marker {
  position: relative;
  left: 0px;
  width: auto;
  background-color: #ffffffc9;
}

.pf_txt_cont {
  position: relative;
  width: 60%;
  background-color: #ffffffc9;
  top: 63px;
}

.pf_txt_cont p {
  width: 100%;
  font-size: 10pt;
  line-height: 22px;
  color: #000;
}
.pf_txt_cont p span {
  display: inline-block;
  margin-top: -100px;
  margin-left: 5px;
}
